<!-- beginning of hover support code -->
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<title>CSS Test by RTH</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
<!-- end of hover support code -->

<section>
  <h1>Code & Biz</h1>

		<h3>Pure CSS3</h3>
		<!-- Social Media Buttons - CSS3 -->
		<ul class="social" id="css3">
			<li class="twitter">
				<a href="http://twitter.com/rayhightower"><strong>Twitter</strong></a>
			</li>
			<li class="linkedin">
				<a href="http://www.linkedin.com/in/rayhightower"><strong>LinkedIn</strong></a>
			</li>
			<li class="github">
				<a href="http://www.github.com/rayhightower"><strong>GitHub</strong></a>
			</li>
			<li class="vimeo">
				<a href="http://vimeo.com/chicagoruby"><strong>Vimeo</strong></a>
			</li>
		</ul>
		<!-- /Social Media Buttons - CSS3 -->
  
<!-- DELETE from this line to right before SECTION end after CSS experiments are successful. -->
  <ul>
    <li><a href="http://github.com/rayhightower">GitHub</a></li>
    <li><a href="http://coderwall.com/rayhightower">Coder Wall</a></li>
    <li><a href="http://twitter.com/rayhightower">Twitter (@RayHightower)</a></li>
  </ul>
<!-- AddThis Follow BEGIN -->
<div class="addthis_toolbox addthis_32x32_style addthis_default_style">
<a class="addthis_button_linkedin_follow" addthis:userid="rayhightower"></a>
<a class="addthis_button_vimeo_follow" addthis:userid="chicagoruby"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50904f5d21a0414f"></script>
<!-- AddThis Follow END -->
</section>
