// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// article added by RTH on 10/12/2012 to support indentation for UL and OL
article {
  ol, ul {
    padding-left: 3em;
  }
}

// header added by RTH on 12/13/2012 to support image banner.
header[role="banner"] {
  background-image: url(/images/kailua-bw.jpg);
  background-repeat: no-repeat;
}

